/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-color: #DB00FF;
  --footer-color: #DB00FF;
  --accent-color: #ff0070;
  --shadow-title-color: #FF0070;
  --decorated-zone-color: #ff0070;
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --section-title-color: #FF0070;
  --bg-color: #000028;
  --main-text-color: #F1B2CE;
  --main-text-font: IBM Plex Mono, monospace;
  --bg-image: url(../images/cover-image-dark.png);
}

:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
  --header-color: #DB00FF;
  --footer-color: #DB00FF;
  --accent-color: #ff0070;
  --shadow-title-color: #FF0070;
  --decorated-zone-color: #ff0070;
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --section-title-color: #FF0070;
  --bg-color: #000028;
  --main-text-color: #F1B2CE;
  --main-text-font: IBM Plex Mono, monospace;
  --bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
        /* Дублируем переменные тёмной темы */  
        --header-color: #DB00FF;
        --footer-color: #DB00FF;
        --accent-color: #ff0070;
        --shadow-title-color: #FF0070;
        --decorated-zone-color: #ff0070;
        --hover-button-color: rgba(255, 0, 112, 0.4);
        --section-title-color: #FF0070;
        --bg-color: #000028;
        --main-text-color: #F1B2CE;
        --main-text-font: IBM Plex Mono, monospace;
        --bg-image: url(../images/cover-image-dark.png);
    }
  }
/* Остальные стили */
